<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365527669987-pfqdo311t7a0gc9mr5hu9kkh1itq50h7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365527669987-pfqdo311t7a0gc9mr5hu9kkh1itq50h7</string>
	<key>API_KEY</key>
	<string>AIzaSyARONsETKAP-kKdi3Qi6312IZj5DlvglVc</string>
	<key>GCM_SENDER_ID</key>
	<string>365527669987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moon.diplomaapp</string>
	<key>PROJECT_ID</key>
	<string>diploma-296c5</string>
	<key>STORAGE_BUCKET</key>
	<string>diploma-296c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365527669987:ios:f79ad68e6e68372486f9d6</string>
</dict>
</plist>